<div>
    <div *ngIf="hasFilterOptions" class="filter-content">
        <div>
            <mat-form-field>
                <input matInput appearance="standard" (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>
       
        <div class="ml2" class="filter-container" *ngIf="userRole == 'Secretary'">
            <div (click)="toggleFilter()">
                <mat-icon class="icon-class" fontIcon="filter_list_alt"></mat-icon>
                <mat-label class="">Filter</mat-label>
            </div>
             <div class="filter-ui" *ngIf="isFilter">
            <mat-card class="filter-ui-container">
                <div class="filter-internal-ui">
                   <form [formGroup]="filterForm" (ngSubmit)="ApplyFilter(filterForm.value)">
                    <div class="filter-inputs">
                        <div class="first-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Type of Grievance</mat-label>
                                <mat-select (selectionChange)="grievanceSelected($event)"
                                   formControlName="grievanceType">
                                    <span *ngFor='let grievance of grievancesTypes;let i = index'>
                                        <mat-option [value]="grievance.id">{{grievance.name}}</mat-option>
                                    </span>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="first-container">
                            <mat-form-field>
                                <mat-label>Enter a date range</mat-label>
                                <mat-date-range-input [rangePicker]="picker" >
                                  <input matStartDate placeholder="Start date" formControlName="startDate">
                                  <input matEndDate placeholder="End date" formControlName="endDate">
                                </mat-date-range-input>
                                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                              </mat-form-field>
                        </div>

                    </div>
                    <div class="action-btns">
                        <button  type="button" mat-raised-button  class="mr1">Reset</button>
                        <button type="submit" mat-raised-button color="primary" >Apply</button>
                       </div> 

                </form>
                </div>
            </mat-card>
        </div>
            
        </div>
       
       
    </div>

    <table class="m4" mat-table [dataSource]="dataSource" class="mat-elevation-z1" matSort
        sortActionDescription="Sort by number">
        <ng-container matColumnDef="position" *ngFor="let disCol of tableColumns let colIndex = index;"
            matColumnDef="{{disCol.columnDef}}">
            <!-- if sortable column header -->
            <ng-container *ngIf="disCol.isSortable; else notSortable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{disCol.header}}
                </th>
            </ng-container>
            <!-- else not sortable -->
            <ng-template #notSortable>
                <th mat-header-cell *matHeaderCellDef>
                    {{disCol.header}}
                </th>

            </ng-template>

            <td mat-cell *matCellDef="let element" [id]="rowAction" (click)="emitRowAction(element)">



                <span *ngIf="(!disCol.isAction); else action">

                    <a mat-button >{{ disCol.cell(element) }}</a>
                </span>

                <ng-template #action>

                    <button mat-button [id]="rowActionIcon" (click)="emitRowAction(element)">
                        <mat-icon>delete</mat-icon>
                    </button>

                </ng-template>
                <span *ngIf="disCol.isMenuOption" >

                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onClickEdit(element)">
                          <mat-icon>edit</mat-icon>
                          <span>Edit</span>
                        </button>
                        <button mat-menu-item >
                            <mat-slide-toggle (change)="onToggleChange(element)" [color]="primary"
                            [checked]="!element.isActive">
                                Deactivate
                            </mat-slide-toggle>
                        </button>
                        <!-- <button mat-menu-item (click)="onClickDelete(element)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span> 
                         </button> -->
                      </mat-menu>


                </span>


            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator *ngIf="isPageable && !isServerSidePagination" [pageSizeOptions]="[10,20,50]" showFirstLastButtons aria-label="Select page..">
    </mat-paginator>
    <mat-paginator #paginator
    *ngIf="isPageable && isServerSidePagination"
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="pageLength"
               [pageSize]="pageSize"
               [disabled]="false"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="[10,20,50]"
               [hidePageSize]="false"
               [pageIndex]="pageIndex"
               aria-label="Select page">
</mat-paginator>
</div>