  <div class="secondary-container">
      <h2 class="title-header">{{ "Add New Student Enrolment" }}</h2>
      <div class="body-section">
        <div class="sidebar">
          <button class="btn">Basic Details</button>
          <button class="btn">Educational Details</button>
        </div>
        <div class="outer-container">
          <div class="form-section">
            <div class="form-inputs">
              <mat-label class="label" >Center Code & Name</mat-label>
              <mat-form-field class="address-column" appearance="outline">
                <mat-select >
                  <mat-option *ngFor="let course of courses" [value]="course.value">
                    {{ course.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-label class="label" >Course Code & Name</mat-label>
              <mat-form-field class="address-column" appearance="outline">
                <mat-select >
                  <mat-option *ngFor="let course of courses" [value]="course.value">
                    {{ course.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-label class="asterix--after" >Exam-Batch</mat-label>
              <mat-form-field class="address-column" appearance="outline">
                <mat-select >
                  <mat-option *ngFor="let course of courses" [value]="course.value">
                    {{ course.viewValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
  
              <mat-label class="asterix--after">Admission Date</mat-label>
              <mat-form-field class="address-column" appearance="outline">
                <input matInput [matDatepicker]="picker" />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-label class="asterix--after" >Intermediate Stream</mat-label>
              <mat-form-field class="address-column" appearance="outline">
                <mat-select >
                  <mat-option *ngFor="let course of courses" [value]="course.value">
                    {{ course.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-label class="label" >Intermediate Passed Board</mat-label>
              <mat-form-field class="address-column" appearance="outline">
                <mat-select >
                  <mat-option *ngFor="let course of courses" [value]="course.value">
                    {{ course.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-label class="label" >Intermediate Subjects</mat-label>
              <mat-form-field class="address-column" appearance="outline">
                <mat-select >
                  <mat-option *ngFor="let course of courses" [value]="course.value">
                    {{ course.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-label class="asterix--after" >Intermediate Percentage</mat-label>
              <mat-form-field class="address-column" appearance="outline">
                <mat-select >
                  <mat-option *ngFor="let course of courses" [value]="course.value">
                    {{ course.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-label class="label">Mobile Number</mat-label>
              <mat-form-field class="address-column" appearance="outline">
                <input matInput />
              </mat-form-field>

              <mat-label class="asterix--after" style="margin-bottom: 8px;margin-top: 8px;">Upload Scan Documents of HighSchool</mat-label>
              <mat-grid-list cols="2" rowHeight="4:1">
                <mat-grid-tile>
                  <div style="margin-right:auto">
                    <mat-label class="asterix--after">Roll No</mat-label>
                    <mat-form-field class="address-column" appearance="outline">
                      <input matInput />
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div style="margin-right: auto;">
                    <mat-label class="asterix--after">Year of Passing</mat-label>
                    <mat-form-field class="address-column" appearance="outline">
                      <input  matInput />
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
  
              <mat-label class="asterix--after">Marksheet</mat-label>
              <div class="upload-background">
                <span>No file chosen</span>
                <a href="">Browse</a>
              </div>
              <mat-label class="asterix--after">Certificate</mat-label>
              <div class="upload-background">
                <span>No file chosen</span>
                <a href="">Browse</a>
              </div>

              <mat-label class="asterix--after" style="margin-bottom: 8px;margin-top: 8px;">Upload Scan Documents of Intermediate</mat-label>
              <mat-grid-list cols="2" rowHeight="4:1">
                <mat-grid-tile>
                  <div style="margin-right:auto">
                    <mat-label class="asterix--after">Roll No</mat-label>
                    <mat-form-field class="address-column" appearance="outline">
                      <input matInput />
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div style="margin-right: auto;">
                    <mat-label class="asterix--after">Year of Passing</mat-label>
                    <mat-form-field class="address-column" appearance="outline">
                      <input  matInput />
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
  
              <mat-label class="asterix--after">Marksheet</mat-label>
              <div class="upload-background">
                <span>No file chosen</span>
                <a href="">Browse</a>
              </div>
              <mat-label class="asterix--after">Certificate</mat-label>
              <div class="upload-background">
                <span>No file chosen</span>
                <a href="">Browse</a>
              </div>


              <!-- <mat-grid-list cols="2" rowHeight="4:1">
                  <mat-grid-tile>
                    <div style="margin-right:auto">
                      <mat-label class="label">District</mat-label>
                      <mat-form-field class="address-column" appearance="outline">
                        <input matInput />
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div style="margin-right: auto;">
                      <mat-label class="label">State</mat-label>
                      <mat-form-field class="address-column" appearance="outline">
                        <input  matInput />
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list> -->
  
                <!-- <mat-grid-list cols="2" rowHeight="4:1">
                  <mat-grid-tile>
                    <div style="margin-right:auto">
                      <mat-label class="label">Country</mat-label>
                      <mat-form-field class="address-column" appearance="outline">
                        <input matInput />
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div style="margin-right: auto;">
                      <mat-label class="label">Pincode</mat-label>
                      <mat-form-field class="address-column" appearance="outline">
                        <input  matInput />
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list> -->
            </div>
          </div>
          <div class="buttons">
            <button class="btn-2"style="display: flex; flex-direction: row; gap: 4px; align-items: center;"><mat-icon>arrow_back</mat-icon>Previous</button>
            <div class="btn-group">
              <button class="btn-1">Cancel</button>
              <button class="btn-2"style="display: flex; flex-direction: row; gap: 4px; align-items: center;">Next <mat-icon>arrow_forward</mat-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  