<app-breadcrumb  [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<div class="secondary-container">
    <mat-label class="title-header"> Manage Exam Cycles & Exams </mat-label>
    <div style="display: flex; flex-direction: row; justify-content: space-between  ; margin-top: 24px;">
      <mat-form-field class="exam-form" appearance="outline">
        <input matInput placeholder="Search" />
      </mat-form-field>
      <div class="buttons">
        <div >
          <button class="btn-1" style="display: flex; flex-direction: row; gap: 4px;align-items: center;" (click)="openBulkUploadModal()">Bulk Upload <mat-icon>arrow_upward</mat-icon></button>
        </div>
        <div >
          <button class="btn-2" (click)="goToCreate()">Add Exam Cycle</button>
        </div>
      </div>
    </div>
          <app-shared-skeleton-loading [isLoading]="isDataLoading">
          </app-shared-skeleton-loading>
          <app-shared-table
            *ngIf="!isDataLoading"
            [tableColumns]="examCycleTableColumns"
            [tableData]="examCycleData"
            [length]="examCycleData.length" 
            [pageSize]="pageSize" 
            [hidePageSize]="false" 
            [showPageSizeOptions]="true" 
            [showFirstLastButtons]="true" 
            [pageIndex]="pageIndex"
            [isPageable]="true"
            [hallticket]="false"
            (rowAction)="onClickItem($event)"
            [isServerSideSorting]="false"
            [isServerSidePagination]="false"
            (pageChange)="handlePageChange($event)"
            (searchParmas)="getSearchParams($event)"
            (deleteAction)="onDeleteClick($event)"
          >
          </app-shared-table>
    </div>
