<app-breadcrumb  [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<!-- <div class="main-container"> -->
<div class="secondary-container">
  <h2 class="title-header">Manage Question Papers</h2>


  <app-shared-ques-paper [examCycleList]="examCycleList" [examCycleControl]="examCycleControl"
  [questionPapersList]="questionPapersList" [showCardDetails]=true
  (uploadQuesPaper)="onUploadQuesPaper($event)">
  
</app-shared-ques-paper>
  <span class="error" style="color: red;">{{ fileUploadError }}</span>




</div>
<!-- </div> -->
