<app-breadcrumb  [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<!-- <div class="main-container"> -->
<div class="secondary-container">
  <h2 class="title-header">Manage Question Papers</h2>


  <app-shared-ques-paper [examCycleList]="examCycleData" [examCycleControl]="examCycleControl"
  [questionPapersList]="questionPapersList" [showCardDetails]=true
  (viewQuestionPaper)="viewQuestionPapers($event)"
  (downloadQuestionPaper)="downloadQuestionPaper($event)"
  [showCardDetails]=true
  (uploadQuesPaper)="onUploadQuesPaper($event)"
   (examCycleSelection)="getExamCycleSelection($event)">
  
</app-shared-ques-paper>

</div>
<!-- </div> -->
