<div class="secondary-container">
    <mat-label class="title-header"> Manage Exam Cycles & Exams </mat-label>
    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 24px;
      "
    >
      <mat-form-field class="exam-form" appearance="outline">
        <mat-label class="label">Hall Ticket Type</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let hallticket of halltickets"
            [value]="hallticket.value"
          >
            {{ hallticket.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <mat-form-field appearance="outline">
          <input matInput placeholder="Search" />
        </mat-form-field> -->
      <div class="buttons">
        <div>
          <button
            class="btn-1"
            style="
              display: flex;
              flex-direction: row;
              gap: 4px;
              align-items: center;
            "
          >
           Cancel
          </button>
        </div>
        <div>
          <button class="btn-2">Generate Hall Ticket</button>
        </div>
      </div>
    </div>
    <div class="selector">
      <mat-form-field class="exam-form" appearance="outline">
        <mat-label class="label">Course</mat-label>
        <mat-select>
          <mat-option *ngFor="let course of courses" [value]="course.value">
            {{ course.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="exam-form" appearance="outline">
        <mat-label class="label">Exam cycle</mat-label>
        <mat-select>
          <mat-option *ngFor="let year of years" [value]="year.value">
            {{ year.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="exam-form" appearance="outline">
        <mat-label>Institute</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let institute of institutes"
            [value]="institute.value"
          >
            {{ institute.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="btn-tab">
      <div class="tab">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="Pending">Pending</mat-tab>
          <mat-tab label="Generated">Generated</mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
