
.main-container {
    background-color: #F0F3F4;
    height: 920px;
    width: screen;
}
.title-header {
    font-size: 26px;
    letter-spacing: 0.16px;
    font-weight: 550;
    line-height: 36px;
    color: #000000;
    margin-bottom: 36px;
 }
.selector{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 20px;
    }
.tab{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.btn-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap:16px;
}
.btn-1{
    color: gray;
    background-color:#fff;
    width: 80px;
    display: flex;
    justify-content: center;
    border-width: 16px;
    border-radius: 4px;
    font-weight: 600;
    border: 1.5px solid gray;
    opacity: 1;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn-2{
    background-color: #045DAD;
    color:#fff;
    width: fit;
    padding:12px;
    border-radius: 4px;
    font-weight: 600;
    border: 1.5px solid rgba(4,93,173, 1);
    opacity: 1;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;

}
