<app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<div id="dashboard" class="content">
    <div class="inner-content">
        <app-shared-skeleton-loading [isLoading]="isDataLoading">
        </app-shared-skeleton-loading>
        <div *ngIf="!isDataLoading">
            <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
        </div>
        <div *ngIf="!isDataLoading" class="custom-margin">
        <mat-grid-list cols="6" rowHeight="10rem" [gutterSize]="'100px'">
            <mat-grid-tile colspan="4" rowspan="1">
                <app-shared-table class="table1" [hasFilterOptions]="false" [tableColumns]="dashboardAnaytics1Columns" [tableData]="dashboardAnalytics1Data" [isPageable]="false"></app-shared-table>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="1">
                <app-shared-table class="table2" [hasFilterOptions]="false" [tableColumns]="dashboardAnalytics3Columns" [tableData]="dashboardAnalytics3Data" [isPageable]="false"></app-shared-table>
            </mat-grid-tile>
        </mat-grid-list>
          <mat-grid-list cols="6" rowHeight="10rem" [gutterSize]="'100px'">
            <mat-grid-tile colspan="4" rowspan="1">
                <app-shared-table class="table1" [hasFilterOptions]="false" [tableColumns]="dashboardAnalyticsColumns" [tableData]="dashboardAnalyticsData" [isPageable]="false"></app-shared-table>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="1">
                <app-shared-table class="table2" [hasFilterOptions]="false" [tableColumns]="dashboardAnaytics2Columns" [tableData]="dashboardAnalytics2Data" [isPageable]="false"></app-shared-table>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="custom-margin">
        <app-shared-table [hasFilterOptions]="false" [tableColumns]="dashboardDataColumns" [tableData]="dashboardData" [isPageable]="true"></app-shared-table>
        </div>
        </div>
    </div>
</div>