.attachment-label {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    position: absolute;
}

.attachment-label.left {
    left: 0;
    font-weight: 700;
}

.attachment-label.right {
    right: 0;
    font-weight: 700;
    color: rgb(4, 93, 173);
    cursor: pointer;
}

.attachment-view {
    width: 100%;
    height: 8rem;
    border: 1px solid rgba(0, 0, 0, 0.16);
}

.empty-content-class {
    height: 100%;
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-full {
    background-color: #F0F3F4;
}

.breadcrumb {
    height: 48px;
    background-color: white;
    box-shadow: 0px 0px 1px;
    padding-left: 11%;
}

.breadcrumb-titles {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.icon-cls {
    padding: 0.3%;
    color: gray;
    background-color: lightgray;
    margin-top: 6px;
    border-radius: 4px;
}

.icon-cls-arrow {
    color: gray;
    margin-top: 13px;
}

.navigationcls {
    margin-top: 13px;
    font-size: 17px;
    letter-spacing: 0.25px;
    font-weight: 500;
    cursor: pointer;
}

.second-main-wrapper {
    position: relative;
}

.user-container {
    padding: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-text-heading {
    font-size: 22px;
    font-weight: 500;
    line-height: 0.12;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-container {
    background-color: white;
    /* height: 41rem; */
}

.form-internal-wrapper {
    padding: 3%;
}

.wrapper-form {
    display: flex;
    flex-direction: column;
}

.first-row-container {
    display: flex;
    flex-direction: row;
}

.first-container {
    width: 31%;
    position: relative;
}
.desc-content{
    width: 41%;
    word-break: break-all;
}

.text-class {
    width: 84%;
}

.radio-btn {
    padding: 7%;
    margin-right: 4%;
    border: 1px solid lightgray;
}

.empty-content-class {
    height: 100%;
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label-text {
    color: gray;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.textData {
    margin-top: 2%;
}
.resolution-class {
    margin-top: 20px;
}

.attach-docs {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: #d3d3d361;
    margin-top: 1%;
    border-radius: 4%;
}

.text-primary {
    color: #3f51b5;
    cursor: pointer;
  }

.preview {
    background-color: rgba(0,0,0,0.04);
    padding: 8px;
    margin-bottom: 5px;
}
.action-buttons {
    color: rgb(4, 93, 173);
    font-weight: bold;
    font-family: 'Lato' sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.preview .layout {
    display: flex; 
    justify-content: space-between;
}

.error {
    color:red;
    font-size: 14px;
    font-weight: 400;
}

.view-files {
    overflow-y: auto;
}