
.main-container {
    background-color: #F0F3F4;
    height: 920px;
    width: screen;
}
.title-header {
    font-size: 26px;
    letter-spacing: 0.16px;
    font-weight: 550;
    line-height: 36px;
    color: #000000;
    margin-bottom: 36px;
 }

 .examCycleLable {
    font-weight: 600;
 }

 .cancel-btn {
    min-width: 90px;
    background-color: white;
    color: #0074B6;
    border: 2px solid #0074B6;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 40px;
 }

 .searchField {
    width: 300px;
 }

 ::ng-deep .feeManagementForms {
    width: 250px;
    .mat-mdc-text-field-wrapper {
        background-color: white;
        height: 40px;
     }
 
     .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
         padding-top: 10px;
     }

     .mat-mdc-form-field-icon-prefix>.mat-icon {
        padding-top: 0px
     }

}

::ng-deep .mat-mdc-tab-header {
    border-bottom: 1px solid #00000029;
}
