
.main-container {
    background-color: #F0F3F4;
    width: 100vw;
    min-height: calc(100vh - 55px);
}
.title-header {
    font-size: 26px;
    letter-spacing: 0.16px;
    font-weight: 550;
    line-height: 36px;
    color: #000000;
    margin-bottom: 36px;
 }

 .examCycleLable {
    font-weight: 600;
 }
 

 .searchField {
    margin-top: 25px !important;
 }

.search-btn {
    background-color: #045DAD;
    color:#fff;
    width: 100px;
    border-radius: 4px;
    font-weight: 600;
    border: 1.5px solid rgba(4,93,173, 1);
    opacity: 1;
    cursor: pointer;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 20px;
    height: 50px;

}
::ng-deep .feeManagementForms {
    margin-top: 5px;
    width: 300px;
    .mat-mdc-text-field-wrapper {
        background-color: white;
        height: 40px;
     }
 
     .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
         padding-top: 10px;
     }

     .mat-mdc-form-field-icon-prefix>.mat-icon {
        padding-top: 0px
     }

}
