<div class="secondary-container">
    <mat-label class="title-header"> Fee management </mat-label>
    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 24px;
      "
    >
      <mat-form-field appearance="outline">
        <mat-label class="label">Exam cycle</mat-label>
        <mat-select>
          <mat-option *ngFor="let course of courses" [value]="course.value">
            {{ course.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="buttons">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Search" />
        </mat-form-field>
        <div>
          <button class="btn-2">Search</button>
        </div>
      </div>
    </div>
    <div class="btn-tab">
      <div class="tab">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="Pending">Pending</mat-tab>
          <mat-tab label="Approved">Approved</mat-tab>
          <mat-tab label="Rejected">Rejected</mat-tab>
          <mat-tab label="Closed">Closed</mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
