
.main-container {
    background-color: #F0F3F4;
    width: 100vw;
    min-height: calc(100vh - 55px);
}

.title-header {
    font-size: 26px;
    letter-spacing: 0.16px;
    font-weight: 550;
    line-height: 36px;
    color: #000000;
    margin-bottom: 36px;
 }
.selector{
    display: flex;
    flex-direction: row;
    gap: 16px;
       
}
.tab{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.btn-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap:16px;
}
.btn-1{
    color: #045DAD;
    background-color:#fff;
    width: 88px;
    padding: 14px;
    border-width: 16px;
    border-radius: 4px;
    font-weight: 600;
    border: 1.5px solid #045DAD;
    opacity: 1;
    cursor: pointer;
}
.btn-2{
    background-color: #045DAD;
    color:#fff;
    width: 100px;
    border-radius: 4px;
    font-weight: 600;
    border: 1.5px solid rgba(4,93,173, 1);
    opacity: 1;
    cursor: pointer;
    padding-top: 18px;
    padding-bottom: 18px;

}

.examCycleLable {
    font-weight: 600;
 }
    ::ng-deep .exam-form {
        margin-top: 5px;
        width: 300px;
        .mat-mdc-text-field-wrapper {
            background-color: white;
            height: 40px;
         }
     
         .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
             padding-top: 10px;
         }
    
         .mat-mdc-form-field-icon-prefix>.mat-icon {
            padding-top: 0px
         }
    
    }
