  <app-breadcrumb  [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<div class="secondary-container">
    <mat-label class="title-header"> Manage Users </mat-label>
    <div style="display: flex; flex-direction: row; justify-content: space-between  ; margin-top: 24px;">
      <mat-form-field class="exam-form" appearance="outline">
        <input matInput placeholder="Search" />
      </mat-form-field>
      <div class="buttons">
        <div >
          <button class="btn-2" (click)="goToCreate()">Add User</button>
        </div>
      </div>
    </div>
          <app-shared-skeleton-loading [isLoading]="isDataLoading">
          </app-shared-skeleton-loading>
          <app-shared-table
            *ngIf="!isDataLoading"
            [tableColumns]="examCycleTableColumns"
            [tableData]="examCycleData"
            [isPageable]="true"
            [length]="examCycleData?.length"
            [pageSize]="pageSize"
            [hidePageSize]="false"
            [showPageSizeOptions]="true"
            [showFirstLastButtons]="true"
            [pageIndex]="pageIndex"
            (rowAction)="onClickItem($event)"
            [isServerSideSorting]="false"
            [isServerSidePagination]="false"
            (pageChange)="handlePageChange($event)"
            (searchParmas)="getSearchParams($event)"
            (editData)="onClickEdit($event)"
          >
          </app-shared-table>
  </div>
