.main-container{
    // padding: 4rem;
    background-color: #F0F3F4;
    height: 892px;
    // padding-left: 10rem;
    // padding-right: 10rem;
  }
  .header-container{
    display: flex;
    flex-direction: column;
  }
  .head-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }