<div class="secondary-container">
    <div class="body-header">
      <h2 class="title-header">Edit</h2>
      <div class="button-group">
        <button class="btn-1">Cancel</button>
        <button class="btn-2">Save</button>
      </div>
    </div>

    <div class="body">
      <form class="examcycleform" [formGroup]="createExamCycle" (ngSubmit)="onSubmit()">
        <div class="outer-container">
          <div class="form-section">
            <div class="form-inputs">
              <mat-label class="label"> Exam cycle </mat-label>
              <mat-form-field appearance="outline" style="width: 16.5rem">
                <mat-label>Exam cycle</mat-label>
                <mat-select formControlName="examcycle">
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-label class="label"> Course name </mat-label>
              <mat-form-field appearance="outline" style="width: 16.5rem">
                <mat-label>Course name</mat-label>
                <mat-select formControlName="coursename">
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="form-section">
            <div class="form-inputs">
              <mat-label class="label"> Start date </mat-label>
              <mat-form-field appearance="outline" style="width: 16.5rem">
                <mat-label>Choose a date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="startdate"
                  [min]="pickerMinDate"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div>
              <mat-label class="label"> End date </mat-label>
              <mat-form-field appearance="outline" style="width: 16.5rem">
                <mat-label>Choose a date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker1"
                  formControlName="enddate"
                  [min]="pickerMinDate"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="form-section" style="column-gap: 20px">
            <div class="form-inputs">
              <mat-label class="label"> Exam name </mat-label>
              <mat-form-field appearance="outline" style="width: 16.5rem">
                <mat-label>Exam name</mat-label>
                <input
                  matInput
                  placeholder="Exam name"
                  formControlName="examname"
                />
              </mat-form-field>
            </div>
            <div>
              <mat-label class="label"> Exam date </mat-label>
              <mat-form-field appearance="outline" style="width: 16.5rem">
                <mat-label>Choose a date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker3"
                  formControlName="examdate"
                  [min]="pickerMinDate"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker3"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </div>
            <div>
              <!-- <mat-label class="label"> Start time </mat-label> -->
              <!-- <mat-form-field appearance="outline" style="width: 16.5rem">
                <mat-label>hh:mm</mat-label>
                 <input
                  class="custom-timepicker"
                  style="border: none"
                  matTimepicker
                  #t="matTimepicker"
                  [strict]="false"
                  id="timepicker-example"
                  mode="12h"
                  formControlName="starttime"
                /> -->
                <!-- <mat-icon matSuffix (click)="t.showDialog()"
                  >access_time</mat-icon
                >
              </mat-form-field> -->
            </div>
            <div>
              <!-- <mat-label class="label"> End time </mat-label> -->
              <!-- <mat-form-field appearance="outline" style="width: 16.5rem">
                <mat-label>hh:mm</mat-label>
                 <input
                  class="custom-timepicker"
                  style="border: none"
                  matTimepicker
                  #t1="matTimepicker"
                  [strict]="false"
                  id="timepicker-example"
                  mode="12h"
                  formControlName="endtime"
                  (mouseleave)="endTimeValidator()"
                /> -->
                <!-- <mat-icon
                  matSuffix
                  (click)="t1.showDialog()"
                  (mouseleave)="endTimeValidator()"
                  >access_time</mat-icon
                >
              </mat-form-field> -->
              <div
                class="sb-color-red pt-0"
                style="color: red"
                tabindex="0"
                *ngIf="
                  createExamCycle.controls['endtime'].touched &&
                  createExamCycle.controls['endtime'].errors
                "
              >
                Enter a valid End time
              </div>
            </div>
          </div>
          <div class="flex flex-row" style="gap: 1.5rem">
            <div class="flex flex-column">
              <button
                class="btn-3 btn-primary"
                type="submit"
                style="margin-top: 1rem; cursor: pointer;"
                (click)="addExamCycle()"
              >
                Add Exam
              </button>
            </div>
          </div>
          <div style="display: flex; flex-wrap: wrap; column-gap: 24px">
            <div class="flex flex-column">
              <div class="cards-boxes">
                <mat-card class="example-card">
                  <mat-card-content class="content-container">
                    <span class="label" style="font-size: 20px">Exam 1</span>
                    <span class="desc-section">Exam date: dd/mm/yyyy</span>
                    <mat-chip-option
                      >Exam time : 10:00AM - 1:00 PM</mat-chip-option
                    >
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="flex flex-column">
              <div class="cards-boxes">
                <mat-card class="example-card">
                  <mat-card-content class="content-container">
                    <span class="label" style="font-size: 20px">Exam 2</span>
                    <span class="desc-section">Exam date: dd/mm/yyyy</span>
                    <mat-chip-option
                      >Exam time : 10:00AM - 1:00 PM</mat-chip-option
                    >
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
