<router-outlet></router-outlet>
<!-- <p>App component works</p> -->
<!-- <app-home></app-home> -->

<!-- <app-student-enrollment></app-student-enrollment>
<app-register-students></app-register-students>
<app-add-new-student-enrolment></app-add-new-student-enrolment>
<app-educational-details></app-educational-details>
<app-manage-exam-cycle-form></app-manage-exam-cycle-form>
<app-manage-exam-cycle-list></app-manage-exam-cycle-list>
<app-manage-exam-cycle-view></app-manage-exam-cycle-view>
<app-fee-management-institute></app-fee-management-institute>
<app-student-enrollment-admin></app-student-enrollment-admin> -->