<div class="main-container">
    <div class="secondary-container">
      <div class="body-header">
        <h2 class="title-header">Hall Ticket management</h2>
        <div class="header-buttons">
          <button *ngIf="loggedInUserRole === 'exams_student'" class="modify-btn" (click)="redirectToModifyHallticket()">Modify</button>
          <button *ngIf="loggedInUserRole === 'exams_admin'" class="modify-btn" (click)="cancel()">Cancel</button>
        </div>
      </div>
      <app-exam-cycle [hallTicketDetails]="hallTicketDetails" 
      [examTableHeader]="examTableHeader" [examTableData]="examTableData"
      [isHallTicket]="isHallTicket"></app-exam-cycle>
    </div>
</div>