.dialog-container {
    overflow-y: auto;
    height: 100%;
}
.dialog-body {
    height: calc(100% - 135px);
    min-height: fit-content;

    .lable {
        font-weight: 600;
        margin-bottom: 10px;
    }
}


.footer {

    .btn-full {
        min-width: 80px;
        background-color: #045dad;
        color: white;
        border: 0px;
        height: 35px;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
    }

    .btn-outline {
        min-width: 80px;
        background-color: white;
        color: #045dad;
        border: 2px solid #045dad;
        height: 35px;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
    }

    .btn-outline-gray {
        min-width: 80px;
        background-color: white;
        color: #00000099;
        border: 2px solid #00000029;
        height: 35px;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer; 
    }
}