
.main-container {
    background-color: #F0F3F4;
    height: 920px;
    width: screen;
}
.selector{
    display: flex;
    flex-direction: row;
    gap: 16px;
       
}
.tab{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.btn-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap:16px;
}
.btn-1{
    color: #045DAD;
    background-color:#fff;
    width: fit;
    padding: 12px;
    border-width: 16px;
    border-radius: 4px;
    font-weight: 600;
    border: 1.5px solid rgba(4,93,173, 1);
    opacity: 1;
    cursor: pointer;
}
.btn-2{
    background-color: #045DAD;
    color:#fff;
    width: fit;
    padding:12px;
    border-radius: 4px;
    font-weight: 600;
    border: 1.5px solid rgba(4,93,173, 1);
    opacity: 1;
    cursor: pointer;
}
::ng-deep .exam-form {
    margin-top: 5px;
    width: 276px;
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 13px 0px;
}
.mat-mdc-text-field-wrapper {
    background-color: white;
    }
}
.searchField {
    width: 300px;
 }

::ng-deep .feeManagementForms {
    width: 250px;
    .mat-mdc-text-field-wrapper {
        background-color: white;
        height: 40px;
     }
 
     .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
         padding-top: 10px;
     }

     .mat-mdc-form-field-icon-prefix>.mat-icon {
        padding-top: 0px
     }

}