<app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<div class="full-container">
    <div class="certificate-container">
        <div class="certificate-header">
            <h2>Download Question Papers</h2>
        </div>

        <mat-card  class="w-full cctv-verification-card flex py1 mb2">
            <span [ngClass]="{'verified': cctvVerificationStatus === 'Verified'}">CCTV Verification Status: {{cctvVerificationStatus}}</span>
        </mat-card >

        <app-shared-ques-paper
        [examCycleControl]="examCycleControl"
         [examCycleList]="examCycleList" 
        [questionPapersList]="examDetails" 
        (viewQuestionPaper)="viewQuestionPapers($event)"
        (downloadQuestionPaper)="downloadQuestionPaper($event)"
        [showCardDetails]=true
        >
        
      </app-shared-ques-paper>

     <!--    <span>
            Exam cycle

        </span>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Select here</mat-label>
                <mat-select (selectionChange)="examCycleSelected($event)">
                    <span *ngFor='let examCycle of examCycleList;'>
                        <mat-option [value]="examCycle">{{examCycle}}</mat-option>
                    </span>
                </mat-select>
              
            </mat-form-field>
        </div>

        <mat-card style="margin-top: 38px;" *ngFor="let exam of examDetails">
            <p>
                <mat-card-content>

                    <mat-card-subtitle>Exam Name</mat-card-subtitle>


                    <mat-card-title> {{ exam.examName | uppercase }}</mat-card-title>

                </mat-card-content>
            </p>
            <mat-divider></mat-divider>
            <p>
                <mat-grid-list cols="4" rowHeight="20px">
                    <mat-grid-tile>

                        <mat-card-subtitle> Course Name</mat-card-subtitle>
                    </mat-grid-tile>
                    <mat-grid-tile>

                        <mat-card-subtitle> Exam Date</mat-card-subtitle>
                    </mat-grid-tile>
                    <mat-grid-tile>

                        <mat-card-subtitle> Exam Start Time </mat-card-subtitle>
                    </mat-grid-tile>
                    <mat-grid-tile>

                        <mat-card-subtitle> Maximum Marks</mat-card-subtitle>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="4" rowHeight="20px">
                    <mat-grid-tile>

                        <div> {{exam.courseName}}</div>
                    </mat-grid-tile>
                    <mat-grid-tile>

                        <div> {{exam.examDate}} </div>
                    </mat-grid-tile>
                    <mat-grid-tile>

                        <div> {{exam.examStartTime}} </div>
                    </mat-grid-tile>
                    <mat-grid-tile>

                        <div> {{exam.marks}} Marks</div>
                    </mat-grid-tile>
                </mat-grid-list>

            </p>
            <mat-card-content>
                <p>
                    <mat-list role="list"  *ngIf="exam.examStartTime !== '12.00 A.M.'  ;  else notYetexamTime">
                        <mat-list-item style="background-color: #f4f4f4; margin-bottom: 1rem;" role="listitem"
                            *ngFor="let qp of exam.questionPaperList" >
                            <div class="question-paper-item-container"> 
                                <span>{{qp.name}}</span>
                                <span class="button-group" >
                                    <button type="button" class="cancel-button" mat-stroked-button
                                        color="primary" (click)="viewQuestionPaper(qp.id)">View</button>
                                    <button class="next-button" mat-raised-button color="primary"
                                        (click)="downloadQuestionPaper(qp.id)">Download</button>
                                </span>

                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                    <ng-template #notYetexamTime>
                        <p>
                            <mat-hint style="color: red;"> *Question Paper will appear 30 mins before exam for
                                download</mat-hint>

                        </p>

                    </ng-template>
                </p>
            </mat-card-content>

        </mat-card> -->


    </div>
</div>