<div>
    <h2 class="hallticket-details-header">{{hallTicketDetails?.examCycle?.name|| "-" }}</h2>
    <div>
        <div class="details-row ">
            <div class="w-full">
                <div class="lable">
                    <span>First name</span>
                </div>
                <div class="value">
                    <span>{{hallTicketDetails?.firstName|| "-" }}</span>
                </div>
            </div>
            <div>
                <div class="lable">
                    <span>Last name</span>
                </div>
                <div class="value value-right">
                    <span>{{hallTicketDetails?.lastName|| "-" }}</span>
                </div>
            </div>
        </div>
        <div class="details-row">
            <div class="w-full">
                <div class="lable">
                    <span>Roll Number</span>
                </div>
                <div class="value">
                    <span>{{hallTicketDetails?.studentEnrollmentNumber || "-" }}  </span>
                </div>
            </div>
            <div>
                <div class="lable">
                    <span>DOB</span>
                </div>
                <div class="value value-right">
                    <span>{{hallTicketDetails?.dob|| "-" }}</span>
                </div>
            </div>
        </div>
        <div class="details-row">
            <div class="w-full">
                <div class="lable">
                    <span>Course name</span>
                </div>
                <div class="value">
                    <span>{{hallTicketDetails?.courseName|| "-" }}</span>
                </div>
            </div>
            <div>
                <div class="lable">
                    <span>Course Year</span>
                </div>
                <div class="value value-right">
                    <span>{{hallTicketDetails?.courseYear|| "-" }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
