<div>
    <h2 class="hallticket-details-header">{{hallTicketDetails?.exmaCycleName}}</h2>
    <div>
        <div class="details-row ">
            <div class="w-full">
                <div class="lable">
                    <span>First name</span>
                </div>
                <div class="value">
                    <span>{{hallTicketDetails?.studentDetails?.firstName}}</span>
                </div>
            </div>
            <div>
                <div class="lable">
                    <span>Last name</span>
                </div>
                <div class="value value-right">
                    <span>{{hallTicketDetails?.studentDetails?.lastName}}</span>
                </div>
            </div>
        </div>
        <div class="details-row">
            <div class="w-full">
                <div class="lable">
                    <span>Rool Number</span>
                </div>
                <div class="value">
                    <span>{{hallTicketDetails?.studentDetails?.roolNumber}}</span>
                </div>
            </div>
            <div>
                <div class="lable">
                    <span>DOB</span>
                </div>
                <div class="value value-right">
                    <span>{{hallTicketDetails?.studentDetails?.DOB}}</span>
                </div>
            </div>
        </div>
        <div class="details-row">
            <div class="w-full">
                <div class="lable">
                    <span>Course name</span>
                </div>
                <div class="value">
                    <span>{{hallTicketDetails?.hallTicketDetqails?.courseName}}</span>
                </div>
            </div>
            <div>
                <div class="lable">
                    <span>Course Year</span>
                </div>
                <div class="value value-right">
                    <span>{{hallTicketDetails?.hallTicketDetqails?.courseYear}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
