/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
@import "../node_modules/ngx-toastr/toastr.css";
@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: 'Lato', sans-serif; }

.content {
    flex: 1;
    padding: 1rem 8rem; /* Add space on both sides */
    background-color: #F0F3F4;
    min-height: 98vh;
}

.secondary-container{
    padding: 3%;
    margin-left: 4%;
    margin-right: 4%;
 }

 .w-full {
    width: 100%;
}

.custom-radio-group {
    .mdc-form-field {
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding-right: 12px;
    padding-left: 4px;
    border-radius: 4px;
    margin-right: 1rem;
    }
  }

  .mat-label {
    font-family: 'Lato' sans-serif;
    font-weight: 700;
    font-size: 14px;
  }


.hall-ticket-table,
.mat-mdc-table {
    box-shadow: none !important;
}

.hall-ticket-table,
.mat-mdc-table .mdc-data-table__header-row {
    height: 40px;
}

.hall-ticket-table,
th.mdc-data-table__cell,
.mdc-data-table__header-cell {
    border-bottom: none !important;
}

.hall-ticket-table
.mdc-data-table__cell
.mdc-button {
    font-weight: 600;
    padding-left: 0px !important;
    justify-content: start !important;

}

.hall-ticket-table,
.mdc-data-table__row:last-child .mdc-data-table__cell {
    border-bottom: 1px solid #0000001f !important;
}

.title-header {
    font-size: 24px;
    letter-spacing: 0.12px;
    font-weight: 550;
    line-height: 36px;
    color: #000000;
    margin-bottom: 24px;
 }

 .main-container {
    background-color: #F0F3F4;
    height: 100%;
    width: 100%;
 }

//  #enrollment {
//     .mat-mdc-tab-labels {
//         border-bottom: 1px solid rgba(0, 0, 0, 0.08);
//     }
//     .mat-mdc-header-row {
//         background-color: rgba(0, 0, 0, 0.08);
//     }
//  }

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full {
    background: #045dad;
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: var(--mdc-theme-primary, #045dad);
}

.mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-checkmark-color: #fff;
    --mdc-checkbox-selected-focus-icon-color: #045dad;
    --mdc-checkbox-selected-hover-icon-color: #045dad;
    --mdc-checkbox-selected-icon-color: #045dad;
    --mdc-checkbox-selected-pressed-icon-color: #045dad;
    --mdc-checkbox-unselected-focus-icon-color: #212121;
    --mdc-checkbox-unselected-hover-icon-color: #212121;
    --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
    --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
}

.mat-mdc-table {
    background: inherit !important;
}

.mat-drawer-content {
  overflow: visible !important;
}
