/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
@import "../node_modules/ngx-toastr/toastr.css";
@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
    flex: 1;
    padding: 1rem 8rem; /* Add space on both sides */
    background-color: #F0F3F4;
    min-height: 98vh;
}

.secondary-container{
    padding: 3%;
    margin-left: 4%;
    margin-right: 4%;
 }

 .w-full {
    width: 100%;
}


.hall-ticket-table,
.mat-mdc-table {
    box-shadow: none !important;
}

.hall-ticket-table,
.mat-mdc-table .mdc-data-table__header-row {
    height: 40px;
}

.hall-ticket-table,
th.mdc-data-table__cell,
.mdc-data-table__header-cell {
    border-bottom: none !important;
}

.hall-ticket-table,
.mdc-data-table__cell,
.mdc-button {
    font-weight: 600;
    padding-left: 9px !important;
    justify-content: start !important;

}

.hall-ticket-table,
.mdc-data-table__row:last-child .mdc-data-table__cell {
    border-bottom: 1px solid #0000001f !important;
}
