.selector{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 20px;
}

.examCycleLable {
    font-weight: 600;
 }
 
::ng-deep .exam-form {
    margin-top: 5px;
    width: 300px;
    .mat-mdc-text-field-wrapper {
        background-color: white;
        height: 40px;
        }
    
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
            padding-top: 10px;
        }

        .mat-mdc-form-field-icon-prefix>.mat-icon {
        padding-top: 0px
        }

}