<div class="main-container">
  <div class="secondary-container">
    <mat-label class="title-header"> Pending </mat-label>
    <div style="display: flex; flex-direction: row; justify-content: space-between  ; margin-top: 24px;">
      <mat-form-field class="exam-form" appearance="outline">
        <input matInput placeholder="Search" />
      </mat-form-field>
      <div class="buttons">
          <div class="label" >Student selected
            <mat-form-field class="exam-form-one" appearance="outline">
            <input matInput />
          </mat-form-field>
        </div>
            <div class="label" >Amount to be paid 
              <mat-form-field class="exam-form-one" appearance="outline">
              <input matInput />
            </mat-form-field>
          </div>
        <div >
          <button class="btn-2">Pay fee</button>
        </div>
      </div>
    </div>
    <div class="btn-tab">
      <div class="tab">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="Pending">Pending</mat-tab>
          <mat-tab label="Paid">Paid</mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
