/* Add styles for the breadcrumb container */
.breadcrumb-container {
    .home-icon {
        margin-right: 0.5rem;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.08);
    }
    padding:0 8rem;
    margin-top:5px;
    margin-bottom: 5px;
    display: inline-flex;
  }
  
  /* Style the breadcrumb items */
  .breadcrumb-item {
    cursor: pointer;
    display: inline-flex;
    margin-right: 0.5rem;
    align-items: center;
    font-size: 13px;
  }
  
  /* Style the active breadcrumb item */
  .breadcrumb-item.active {
    font-weight: 700;
    color: #0074B6;
    cursor: default;
  }

.breadcrumb {
  margin-top:1px;
  background-color: white;
  box-shadow: 0px 0px 0px 1px #dedede;
}