<div class="input-container">
  <h1 class="label-heading">
    {{ data.heading }}
  </h1>
  <div class="inner-container">
    <form [formGroup]="uploadForm">
    <div class="file-upload">
      <ng-container *ngIf="data.dateSelect == 'dateSelect'">
        <div style="display: flex; flex-direction: column; row-gap: 4px">
          <span class="lable">{{ data.labelOne }}</span>
        </div>
        <mat-form-field appearance="outline" class="selectInput">
          <input
            matInput
            formControlName="dispatchDate"
            [matDatepicker]="dispatchDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="dispatchDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #dispatchDate  (selectedChanged)="onDate($event)"></mat-datepicker>
        </mat-form-field>
      </ng-container>
    </div>
    <div class="file-upload">
      <ng-container *ngIf="data.select">
        <div style="display: flex; flex-direction: column; row-gap: 4px">
          <span class="lable">{{ data.labelOne }}</span>
        </div>
        <mat-form-field appearance="outline" class="selectInput">
          <mat-select formControlName="idType" placeholder="Select here">
            <ng-container
              *ngFor="let selectCycle of data.select.selectCycleList"
            >
              <mat-option [value]="selectCycle.value">{{
                selectCycle.displayValue
              }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>
    </form>

    <!-- </ng-container> -->
    <div class="file-upload">
      <div
        style="
          display: flex;
          flex-direction: column;
          row-gap: 4px;
          margin-top: 32px;
        "
      >
        <span class="lable">{{ data.labelTwo }}</span>
        <div class="outline">
          <div *ngIf="files.length > 0" class="file-container">
            <span class="desc-section">{{files[0].name}}</span> <!-- File name will come  -->
            <ng-container *ngIf="!data.hidePreview">
              <a href="" style="color: #045DAD;">Preview</a> <!-- Preview will only work when file.length -->
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px2 clearfix footer">
    <ng-container *ngFor="let btn of dialogDetails?.buttons">
    <ng-container *ngIf="btn.btnType !== 'browse' && !btn.hideButton">
        <div [ngClass]="btn.positionClass">
          <button (click)="closeDialog(btn.btnType)" [ngClass]="btn.btnClass">
            {{ btn.btnText }}
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="btn.btnType === 'browse' && !btn.hideButton">
        <div  style="margin-right: 4px;"  [ngClass]="btn.positionClass">
          <button [ngClass]="btn.btnClass">
            <label for="fileUpload1" class="custom-file-upload">
              <a>{{ btn.btnText }}</a>
            </label>
          </button>

          <!-- <mat-hint>.csv files accepted</mat-hint> -->

          <input
            id="fileUpload1"
            type="file"
            style="display: none"
            enctype="multipart/form-data"
            (change)="changeListener($event, btn)"
            multiple="true"
            accept=".csv"
          />
        </div>
      </ng-container>
      
    </ng-container>

  </div>
  <span class="error" style="color: red; display: flex; justify-content: end;">{{ fileUploadError }}</span>
</div>
