<app-breadcrumb  [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
<div class="full-container">
    <div class="certificate-container">
        <div class="certificate-header">
            <h2>Register Student to exam cycle and exams</h2>
        </div>
        <span>
            Exam cycle

        </span>
        <app-shared-ques-paper [examCycleList]="examCycleList" [examCycleControl]="examCycleControl"
            [questionPapersList]="questionPapersList" (addNewStdnts)="regNewStdnts($event)"
            (viewRegdStdnts)="viewRegdStdnts($event)"
            [showCardDetails]=false></app-shared-ques-paper>


    </div>

</div>