    .main-container {
    background-color: #F0F3F4;
    height: fit-content;
    width: 100%;
}
.title-header {
    font-size: 24px;
    letter-spacing: 0.12px;
    font-weight: 550;
    line-height: 36px;
    color: #000000;
    margin-bottom: 24px;
}

.cards-boxes {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    height: fit-content;
}


  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    height: 80%;
}

  .head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
  }
 
 .title-section {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.12px;
    font-weight: 560;
    color: RGBA(0, 0, 0, 0.87);
    margin-top: 8px;
    filter: brightness(1.5);
    
 }

 .desc-section {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.12px;
    font-weight: 560;
    color: RGBA(0, 0, 0, 0.87);
    margin-top: 8px;
    filter: brightness(1.5);
 }
 .buttons{
    display: flex;
    flex-direction: row;
    gap:16px;
}
.btn-1{
    color: #045DAD;
    background-color:#fff;
    width: fit;
    height: 80%;
    padding: 4px;
    border-width: 16px;
    border-radius: 4px;
    font-weight: 600;
    border: 1.5px solid rgba(4,93,173, 1);
    opacity: 1;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
}
.btn-2{
    background-color: #045DAD;
    color:#fff;
    width: fit;
    height:80%;
    padding:4px;
    border-radius: 4px;
    font-weight: 600;
    border: 1.5px solid rgba(4,93,173, 1);
    opacity: 1;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
}
.data-container{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 50%;
}
.content{
    display: flex;
    flex-direction: column;
    row-gap: 4px; 
}
.full-container{
    width:100%;
    height:fit-content;
    background-color:#F0F3F4;
  }
  .certificate-container{
    padding: 4rem;
    margin-left: 4rem;
  }
  .certificate-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .buttons{
    display: flex;
    justify-content: space-between;
    background-color: #F0F3F4;
    height: 4rem;
    padding-top: 2rem;
  }
  .download-buttons{
    justify-content: end;
    align-items: end !important;
}