<div class="secondary-container">
  <h2 class="title-header">{{'Register student to Exam Cycles & Exams'}}</h2>
  <div class="selector">
    <mat-form-field class="exam-form" appearance="outline">
      <mat-label class="label">Select Course</mat-label>
      <mat-select>
        <mat-option *ngFor="let course of courses" [value]="course.value">
          {{ course.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="cards-boxes">
      <mat-card class="example-card" *ngFor="let item of cardList">
        <mat-card-content class="content-container">
          <div class="head">
            <div class="content">
              <span style="color: gray">Name</span>
              <span class="title-section">{{ item.Name }}</span>
            </div>
            <div class="buttons">
              <!-- <button class="btn-1">View regestered students</button>
              <button class="btn-2">Register new students</button> -->
              <button class="btn-2">Upload question paper</button>
            </div>
          </div>
          <div style="border: 0.5px solid rgb(205, 210, 210)"></div>
          <div class="data-container">
            <div class="content" col>
              <span style="color: gray">Course name</span>
              <span class="desc-section">{{ item.Course_name }}</span>
            </div>
            <div class="content" col>
              <span style="color: gray">Start data</span>
              <span class="desc-section">{{ item.Start_date }}</span>
            </div>
            <div class="content" col>
              <span style="color: gray">End date</span>
              <span class="desc-section">{{ item.End_date }}</span>
            </div>
            <div class="content" col>
              <span style="color: gray">Maximum mark</span>
              <span class="desc-section">{{ item.Maximum_marks }}</span>
            </div>
          </div>   
        </mat-card-content>
        <div style=" border: 2px solid rgb(175, 173, 173);padding: 8px;margin:8px;display: flex;flex-direction: column;justify-content: space-between;gap: 8px; margin-bottom: 20px;margin-top: 20px; ;">
          <div class="upload-background">
              <span>Question paper set 1</span>
              <div style="display: flex; flex-direction: row; gap: 8px">
              <a href="" style="color: #045dad">View</a>
              <a href="" style="color: #045dad">Delete</a>
              </div>
          </div>
          <div class="upload-background">
              <span>Question paper set 1</span>
              <div style="display: flex; flex-direction: row; gap: 8px">
              <a href="" style="color: #045dad">View</a>
              <a href="" style="color: #045dad">Delete</a>
              </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>