<app-breadcrumb  [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
 <div class="main-container">
  <div class="secondary-container">
    <div class="body-header">
      <h2 class="title-header">View</h2>
      <div class="button-group">
        <button class="btn-1" (click)="onCancel()">Cancel</button>
        <button class="btn-2">Edit</button>
      </div>
    </div>

    <div class="body">
      <form class="examcycleform">
        <div class="outer-container">
          <div class="form-section">
            <div class="form-inputs">
              <mat-label > Name </mat-label>
              <span class="label">MSc(Nursing)- Semester 1 </span>
            </div>
              <div class="form-inputs">
                <mat-label> Course name </mat-label>
                <span class="label">MSc(Nursing) </span>
              </div>
            </div>
              <div class="form-section">
            <div class="form-inputs">
              <mat-label> Start date </mat-label>
              <span class="label">29-06-2023</span>
            </div>
            <div class="form-inputs">
              <mat-label > End date </mat-label>
              <span class="label">30-06-2023</span>
            </div>
        </div>
          <div class="flex flex-column">
            <div class="cards-boxes">
              <mat-card class="example-card">
                <mat-card-content class="content-container">
                  <span class="label" style="font-size:20px;">Exam 2</span>
                  <span class="desc-section">Exam date: dd/mm/yyyy</span>
                    <mat-chip-option  >Exam time : 10:00AM - 1:00 PM</mat-chip-option>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
 </div>

