.main-container {
    background-color: #F0F3F4;
    height: fit-content;
    width: 100%;
}
.secondary-container{
    padding: 3%;
    margin: 8%;
}
.title-header {
   font-size: 26px;
   letter-spacing: 0.16px;
   font-weight: 550;
   line-height: 36px;
   color: #000000;
   margin-bottom: 36px;
}
.body-section{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}
.sidebar{
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: #fff;
    margin-bottom: 24px;
    padding:28px;
}
.outer-container{
    width: 100%;
}
.form-section{
background-color: #fff;
width: 90%;
height: fit-content;
margin-bottom: 24px;
padding:28px;
}
.sidebar-header{
    display: flex;
    flex-direction: to;
}
// .form-inputs{
//     display: flex;
//     flex-direction: column;
//     row-gap: 4px;
//     width: 100%;
// }
// .label{
//     font-weight: 550; 
//     font-size: 16px;
//    letter-spacing: 0.16px;    
// }
// .input-filed{
//     width: 12px !important;
// }
// .asterix--after{
//     font-weight: 550; 
//     font-size: 16px;
//    letter-spacing: 0.16px; }
// .asterix--after::after {
//     content: "*";
//     color: black;
//   }
// .btn{
//     align-items: start;
//     display: flex;
//     padding: 8px;
//     border:0;
//     background-color: transparent;    
//     font-size: 16px;
//     font-weight: 240;
//     letter-spacing: 0.16px;
//     line-height: 28px;
//     color: #000000;
// }.btn:focus{
//     padding: 12px;
//     font-weight: 550;
//     border-left: 4px solid rgba(4,93,173, 1);
//     background-color: rgb(235, 235, 235);
// }
// .buttons{
//     display: flex;
//     flex-direction: row;
//     // align-items: end;
//     width: 93%;
//     justify-content: space-between;
// }
// .btn-group{
//     display: flex;
//     flex-direction: row;
//     column-gap: 4px;
// }
// .btn-1{
//     color: #045DAD;
//     background-color:#fff;
//     width: fit;
//     padding: 12px;
//     border-width: 16px;
//     border-radius: 4px;
//     font-weight: 600;
//     border: 1.5px solid rgba(4,93,173, 1);
//     opacity: 1;
//     cursor: pointer;
//     padding-left: 20px;
//     padding-right:20px
// }
// .btn-2{
//     background-color: #045DAD;
//     color:#fff;
//     width: fit;
//     padding:12px;
//     border-radius: 4px;
//     font-weight: 600;
//     border: 1.5px solid rgba(4,93,173, 1);
//     opacity: 1;
//     cursor: pointer;
//     padding-left: 20px;
//     padding-right:20px
// }
// .select{
//     width:fit-content;
//     margin-left: 8px;
//     border-radius: 4px;
//     padding: 12px;
//     border: 1px solid gray;
//     align-items: center;
//     display: flex;
// }
// .group-select{
//     display: flex;
//     flex-direction: row;
//     height: 44px;
//     margin-bottom: 24px ;
// }
// .address-column{
//     display: flex;
//     flex-direction: row;
//     // width: 100%;
//     margin-bottom: 16px;
// }
// .address-input{
//     display: flex;
//     flex-direction: column;
//     margin-top: 16px;
//     // align-items: start;
// }
// .upload-background{
//     display: flex; 
//     flex-direction: row;
//     justify-content: space-between ;
//     background-color: rgb(235, 235, 235);
//     padding: 8px;
//     border-radius: 4px;
//     margin-bottom: 16px;
// }
